html, body, canvas, #canvas {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#systemLayer, #info, #loadingScreen {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

#info img {
	position:absolute;
	height: 100%;
	width: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.box.horizTranslate {
	-webkit-transition: 3s;
	-moz-transition: 3s;
	-ms-transition: 3s;
	-o-transition: 3s;
	transition: 3s;
	margin-left: 50% !important;
}

.canvas, .systemLayer {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

#loadingScreen {
	background-color: white;
}

.loadingHeader {
	text-align: center;
	font-size: 56px;
	width: 100%;
	margin: auto;
}